<pre>
	Create two <a href="/custom_fields/new?utf8=%E2%9C%93&type=UserCustomField" target="_blank">user custom fields:</a> named <b>Telegram Channel</b>(text) and <b>Telegram disable email</b>(boolean, default no, checkboxes).
	And you can use them into <a href="/my/account" target="_blank">Every user account</a>
</pre>

<p>
	<label for="settings_telegram_bot_token">Telegram BOT Token</label>
	<input type="text" id="settings_telegram_bot_token" size=80 value="<%= settings['telegram_bot_token'] %>" name="settings[telegram_bot_token]" />
</p>

<p>
        <label for="settings_selfupdate_dont_send">Dont send to Telegram when user is author of issue or comment</label>
        <input type="checkbox" id="settings_selfupdate_dont_send" value="1" name="settings[selfupdate_dont_send]" <%= settings['selfupdate_dont_send'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_display_watchers">Display Watchers?</label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_auto_mentions">Convert names to "mentions"</label>
	<input type="checkbox" id="settings_auto_mentions" value="1" name="settings[auto_mentions]" <%= settings['auto_mentions'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_new_include_description">Details in New Issue?</label>
	<input type="checkbox" id="settings_new_include_description" value="1" name="settings[new_include_description]" <%= settings['new_include_description'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_updated_include_description">Details in Issue Updates?</label>
	<input type="checkbox" id="settings_updated_include_description" value="1" name="settings[updated_include_description]" <%= settings['updated_include_description'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_use_proxy">Use a proxy?</label>
	<input type="checkbox" id="settings_use_proxy" value="1" name="settings[use_proxy]" <%= settings['use_proxy'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_proxyurl">Proxy URL</label>
	<input type="text" id="settings_proxyurl" value="<%= settings['proxyurl'] %>" name="settings[proxyurl]" />
</p>
<p>
	(ex. http://proxy.example.com:8080 )
</p>
